@model List<MeyawoPortfolio.Models.Tbl_Future>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h2>Öne Çıkanlar Sayfası</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Adı Soyadı</th>
        <th>Ünvanı</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.FutureID</td>
            <td>@item.Header</td>
            <td>@item.NameSurname</td>
            <td>@item.Title</td>
            <td> <a href="/Future/UpdateFuture/@item.FutureID" class="btn btn-outline-success">Güncelle</a></td>
            <td> <a href="/Future/DeleteFuture/@item.FutureID" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>
<a href="/Future/AddFuture/" class="btn btn-outline-primary col-12">Öne Çıkan Ekle!</a>
<img src="~/Templates/meyawo-1.0.0/assets/imgs/Meyawo Portfolio.png" />