@model List<MeyawoPortfolio.Models.Tbl_Category>

@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
    </div>
    <br />
    <div>
        <button class="btn btn-outline-primary col-12">Kategori Ekle</button>
    </div>
</form>