
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container" style="margin-top:30px">
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>Kategori Adı</th>
            <th>Güncelle</th>
            <th>Sil</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Flutter Mobil</td>
            <td><a href="#" class="btn btn-warning">Güncelle</td>
            <td><a href="#" class="btn btn-danger">Sil</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Asp.Net Core</td>
            <td><a href="#" class="btn btn-warning">Güncelle</td>
            <td><a href="#" class="btn btn-danger">Sil</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Python Django</td>
            <td><a href="#" class="btn btn-warning">Güncelle</td>
            <td><a href="#" class="btn btn-danger">Sil</td>
        </tr>
    </table>
</div>