@model MeyawoPortfolio.Models.Tbl_Category

@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/AdminLayout/_Layout.cshtml";
}

<h4>Kategori Ekleme Sayfası</h4>
<br />
@using (Html.BeginForm("UpdateCategory", "Category", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.CategoryID, new { @class = "table table-bordered" })
        <br />
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "table table-bordered" })

        <button class="btn btn-outline-primary col-md-12">Güncelle</button>
    </div>
}